<!-- Left column: logo and menu -->
<div class="tm-blue-bg tm-left-column">                        
    <div class="tm-logo-div text-xs-center">
        <h1 class="tm-site-name" style="color: white;">WD Forum</h1>
    </div>

    <nav class="tm-main-nav">
        <ul class="tm-main-nav-ul">
            <li class="tm-nav-item">
                <a href="{{site.baseurl}}/documentation/" class="tm-nav-item-link">Welcome</a>
            </li>
            <li class="tm-nav-item dropdown">
                <a href="{{site.baseurl}}/documentation/client/" class="dropbtn">Client</a>
                <div class="dropdown-content">
                  <a href="{{site.baseurl}}/documentation/client/">Setup</a>
                  <a href="{{site.baseurl}}/documentation/views/">Views</a>
                  <a href="{{site.baseurl}}/documentation/routing/">Routing</a>
                  <a href="{{site.baseurl}}/documentation/components/">Components</a>
                  <a href="{{site.baseurl}}/documentation/assets/">Assets</a>
                  <a href="{{site.baseurl}}/documentation/test/">Test</a>
                </div>
            </li>
            <li class="tm-nav-item dropdown">
                <a href="{{site.baseurl}}/documentation/server/" class="dropbtn">Server</a>
                <div class="dropdown-content">
                  <a href="{{site.baseurl}}/documentation/database/">Database</a>
                  <a href="{{site.baseurl}}/documentation/api/">API</a>
                </div>
            </li>
        </ul>
    </nav>                                         
</div> <!-- Left column: logo and menu -->