<template>
  <div class="course">
    <h3>Course</h3>
    <h2>{{topic.name}}</h2>
    <p>{{topic.description}}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TopicBox',
  props: {
    topic: Object,
  },
});
</script>

<style lang="css">
.course {
  border: 2px solid #EBE5E1;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.course > h2, h3 {
  margin: 0;
}
.quiz-progress button{
  width: 100%;
  height: 2em;
  align-self: end;
}
.progress-circle > p {
  margin: 8px auto;
  text-align: center;
}
@media screen and (min-width: 450px) {
  .course {
    padding: 10px;
  }
}
@media screen and (min-width: 1100px) {
  .course {
    padding: 10px;
    margin: 25px 50px 25px 0;
  }
}
</style>
