<template>
  <div class="quiz-question-container" v-if="question">
    <h2>Question {{position}} of {{total}}</h2>
    <h2>{{question.text}}</h2>

    <label class="answer-label">
      <input type="radio" :value="question.answer_1" v-model="picked">
      {{question.answer_1}}
    </label>
    <label class="answer-label">
      <input type="radio" :value="question.answer_2" v-model="picked">
      {{question.answer_2}}
    </label>
    <label class="answer-label">
      <input type="radio" :value="question.answer_3" v-model="picked">
      {{question.answer_3}}
    </label>
    <button class="button" @click="submitAnswer()">
      {{position === total ? 'Finish quiz' : 'Submit answer'}}
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'QuestionContainer',
  props: {
    question: Object,
    position: Number,
    total: Number,
  },
  setup(props, context) {
    const picked = ref<any>(null);
    const score = ref<number>(0);

    return {
      picked,
      score,
      submitAnswer: () => {
        if (picked.value === props.question!.correct_answer) {
          score.value += 1;
        }

        context.emit('markQuestionAnswered');
        picked.value = null;

        if (props.position === props.total) {
          context.emit('registerScore', score.value);
        }
      },
    };
  },
});
</script>

<style lang="scss">
#quiz h1 {
  text-align: center;
}
.quiz-question-container h2 {
  font-weight: 100;
  color: white;
}
.quiz-question-container {
  margin: 10px;
  padding: 40px;
  background-color: #46646f;
  border-radius: 5px;
  border-top: 2px solid #46646f;
}
.answer-label {
  background-color: white;
  border-radius: 5px;
  border: 1px solid dimgray;
  display: block;
  padding: 2vh 2vw;
  margin-bottom: 1vh;
}
input[type=radio] {
  float: left;
  width: fit-content;
  margin-right: 1vw;
}
@media screen and (min-width: 1000px) {
  .question-container {
    margin: 5vw;
    padding: 2vh 2vw;
  }
}
@media screen and (min-width: 1100px) {
  .quiz-question-container {
    width: 50vw;
    margin: 5vh 25vw;
    padding: 2vh 2vw;
  }
}
</style>
