<template>
  <div class="rational-database-page page">
    <TopicPage :topicName="topicInfo.name">
      <div class="topicText">
        <p>In order to understand what a relational database is, it is important to understand two other principals: <em>databases</em> and <em>data models</em>.</p>

        <h3>What is a database?</h3>
        <p>
          According to C.J. Date (An introduction to Database Systems, 8th ed., 2004): <br />
          “A database is a collection of persistent data that is used by the application systems of some given enterprise”.
        </p>

        <h3>What is a data model?</h3>
        <p>
          A data model is an abstract model which organizes data and defines the way they interact with each other. Based on the data model databases can have the following types: <em>hierarchical</em>, <em>network</em>,
          <em>relational</em> and <em>object-oriented</em>.
        </p>

        <h3>The Relational Model</h3>
        <p>
          A relations is a bi dimensional structure that represent a group of data objects. Each data object, constituting a row is a tuple, and attributes go by the name of attribute. Within the database scope, relations are named
          tables, tuples rows or records and attributes keep the same name. Within a relation (a table) every row must be unique and every row must have the same set of attributes even if there is no value for some of them.
        </p>

        <h3>Attributes data types</h3>
        <p>The value inserted in a tables must follow the attribute data type. Few common data types are:</p>
        <dl class="enumerationList">
          <dt>Integer numbers</dt>
          <dt>Decimal numbers</dt>
          <dt>Character strings</dt>
          <dt>Dates and times</dt>
          <dt>Boolean</dt>
          <dt>NULL</dt>
        </dl>
        <p>Custom types can also be set up by defining enums. An example would be Months which will have predefined values ‘January’, ‘February’, etc.</p>

        <h3>Primary Keys</h3>
        <p>
          In order to identify a row inside a table it needs at least one unique attribute or a group of attributes that make up a unique value. For each table there can be different candidate keys such as: <em>customerId</em> or
          <em>socialSecurityNumber</em>. But only one of them can be chose to identify the row and become the primary key for that table. Even though one table can only have one primary key, it can be composed out of more attributes
          and be called compound key.
        </p>

        <h3>Foreign Keys</h3>
        <p>
          Foreign keys help you find data related to a row in a table B inside table A. To do so the primary key from table B has to be the foreign key in table A. Opposite to the primary key one table can have multiple foreign keys
          linking to different tables.
        </p>

        <h3>Field Constraints</h3>
        <p>
          When creating a relational database these field constraints can be set:
        </p>
        <dl class="enumerationList">
          <dt>UNIQUE - does not allow repeated values - applies to all the primary keys</dt>
          <dt>NOT NULL - it will not allow a field to contain null values.</dt>
          <dt>DEFAULT - it assigns a default value to the field in case no value is defined.</dt>
        </dl>

        <h3>Indexes</h3>
        <p>
          Indexes are a way of searching for data in a faster and orderly way. Every relational table has at least one index, which sorts the table content based on its primary key. Further indexes can be created based on the
          following criteria:
        </p>
        <dl class="enumerationList">
          <dt>Fields that will define the order of most common queries</dt>
          <dt>Fields accessed often, since their values will be sorted in the index.</dt>
          <dt>Foreign keys, as queries to related tables will be sped up.</dt>
          <dt>It is also important to keep in mind that setting up to many indexes may slow down insert, update and delete operations.</dt>
        </dl>
      </div>
    </TopicPage>

    <VideoTutorials :videoTutorials="videoTutorials" />
    <TakeAQuizSection :quizId="topicInfo.quizId" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TopicPage from '@/components/topics/TopicPage.vue';
import TakeAQuizSection from '@/components/layout/TakeAQuizSection.vue';
import VideoTutorials from '@/components/layout/VideoTutorials.vue';

export default defineComponent({
  name: 'RelationalDB',
  components: {
    TopicPage,
    VideoTutorials,
    TakeAQuizSection,
  },
  props: {
    user: Object,
  },
  setup() {
    const topicInfo = ref(
      {
        name: 'Relational Database',
        quizId: 1,
      },
    );

    const videoTutorials = ref(
      [{
        videoLink: 'https://www.youtube.com/embed/Di53oRiQSpQ',
        tutorialName: 'Relational database',
        tutorialText: 'Tired og reading? See this video about relational databases and gain new knowledge about the topic in a fast and fun way.',
      }],
    );

    return {
      topicInfo,
      videoTutorials,
    };
  },
});
</script>
