<template>
  <div class="web-front-end-page page">
    <!-- TOPIC: RelationalDB -->
    <TopicPage :topicName="topicInfo.name">
      <div class="topicText">
        <p>Since SQL is not Turing complete, the business logic should be executed outside the DBMS, which is then only invoked for the execution of the corresponding queries.</p>
        <p>Programming languages offer different solutions to access the database from inside your application. There are two approaches to accessing SQL:</p>
        <dl class="enumerationList">
          <dt><em>Embedded SQL</em> A preprocessor submits the SQL statements to the DBMS. SQL-related errors will be caught at compile time, before execution takes place.</dt>
          <dt>
            <em>Dynamic SQL</em> The SQL queries are written and stored in the programming language, then submitted to the DBMS via a database driver. The result returned by the DBMS are then stored into variables of the programming
            language.
          </dt>
        </dl>

        <p>One example of how to connect to a database is by using PDO (PHP Data Objects). It offers:</p>
        <dl class="enumerationList">
          <dt><em>Coding consistency</em> Single uniform interface no matter which database is being accessed</dt>
          <dt><em>Flexibility</em> Database drivers are loaded runtime</dt>
          <dt>
            <em>Object-Oriented Features</em>
          </dt>
          <dt>
            <em>Performance</em>
          </dt>
        </dl>

        <p>In the images bellow you can see an example of how you can connect to a database by using PDO</p>

        <div class="photos-container">
          <img src="../../assets/courses/PDOConnect.png" alt="" />
          <img src="../../assets/courses/PDOAdd.png" alt="" />
        </div>

        <h3>Watch the videos for more information!</h3>
      </div>
    </TopicPage>

    <VideoTutorials :videoTutorials="videoTutorials" />
    <TakeAQuizSection :quizId="topicInfo.quizId" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TopicPage from '@/components/topics/TopicPage.vue';
import TakeAQuizSection from '@/components/layout/TakeAQuizSection.vue';
import VideoTutorials from '@/components/layout/VideoTutorials.vue';

export default defineComponent({
  name: 'WebFrontEnd',
  components: { TopicPage, VideoTutorials, TakeAQuizSection },
  props: {
    user: Object,
  },
  setup() {
    const topicInfo = ref(
      {
        name: 'Web Front-end',
        quizId: 6,
      },
    );

    const videoTutorials = ref(
      [{
        videoLink: 'https://www.youtube.com/embed/PYB0OJefm2M',
        tutorialName: 'Web Front-end',
        tutorialText: 'Tired og reading? See this video about how to connect to the web front-end.',
      }],
    );

    return {
      topicInfo,
      videoTutorials,
    };
  },
});
</script>
