<template>
  <!-- FORUM SECTION -->
  <div class="question-container">
    <div class="forum-txt">
      <h1>Do you need help?</h1>
      <h2>Ask a question in our forum</h2>
      <button class="forum" @click="goToNewPost">Ask question</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import router from '@/router';

export default defineComponent({
  name: 'QuestionBanner',
  props: {
    sessionId: String,
    userId: String,
  },
  setup(props) {
    return {
      goToNewPost: () => {
        if (!props.sessionId || !props.userId) {
          router.push('/login');
          return;
        }

        router.push('/new-post');
      },
    };
  },
});
</script>

<style lang="scss">
.question-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 250px;
  margin: 0 auto;
}
.forum-txt {
  text-align: center;
  margin: auto;
}
.forum-txt > h1 {
  margin: 0;
  text-align: center;
}
.forum-txt > h2 {
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 360px) {
  .question-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
  }
}
@media screen and (min-width: 450px) {
  .question-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
  }
}
</style>
