<template>
  <div class="ask_question page">
    <h2>Ask your question here!</h2>

    <div class="question-input">
      <form class="AddNewPost-form" @submit.prevent="addNewForumPost" @input="showError = false">
        <div class="error" v-if="showError">{{errorMessage}}</div>
        <div class="success" v-if="showSuccess">{{successMessage}}</div>

        <div class="form-contents">
          <label>
            <span>Title</span>
            <input type="text" placeholder="Title" v-model="title" />
          </label>

          <label>
            <span>Text</span>
            <textarea placeholder="Enter text here..." v-model="text" />
          </label>

          <label>
            <span>Tag</span>
            <input type="text" placeholder="Fx Node.js" v-model="tag" />
          </label>

          <label>
            <span>Upload file</span>
            <input type="file" ref="uploadFileInput"/>
          </label>

          <button type="submit">Post your question</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, onBeforeMount, ref,
} from 'vue';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';

export default defineComponent({
  name: 'AddNewPost',
  props: {
    sessionId: String,
    userId: String,
  },
  setup(props) {
    onBeforeMount(() => {
      if (!props.userId || !props.sessionId) {
        router.push('/login');
      }
    });

    const title = ref<string>('');
    const text = ref<string>('');
    const tag = ref<string>('');
    const showError = ref<boolean>(false);
    const showSuccess = ref<boolean>(false);
    const errorMessage = ref<string>('');
    const successMessage = ref<string>('');
    const uploadFileInput = ref<HTMLInputElement|undefined>(undefined);
    const csrfToken = ref<string|undefined>(undefined);

    fetch(
      `${process.env.VUE_APP_API_URL}/session-api/generate-csrf-token.php`,
      {
        method: 'POST',
        credentials: 'include',
        body: formDataGenerator.generate({
          sessionId: props.sessionId,
        }),
      },
    ).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          csrfToken.value = content.token;
        }
      });

    return {
      title,
      text,
      tag,
      showError,
      showSuccess,
      successMessage,
      errorMessage,
      uploadFileInput,
      addNewForumPost: async () => {
        if (!title.value || !text.value || !tag.value) {
          showError.value = true;
          errorMessage.value = 'Please fill in all of the fields!';
          return;
        }

        if (!csrfToken.value) {
          showError.value = true;
          errorMessage.value = 'Something went wrong, reload the page and try again!';
          return;
        }

        let file: any = null;
        if (uploadFileInput.value) {
          const fileList = uploadFileInput.value.files;

          if (fileList && fileList[0]) {
            // eslint-disable-next-line prefer-destructuring
            file = fileList[0];
          }
        }

        const response = await fetch(
          `${process.env.VUE_APP_API_URL}/forum-api/create-post.php`,
          {
            method: 'POST',
            credentials: 'include',
            body: formDataGenerator.generate({
              sessionId: props.sessionId,
              userId: props.userId,
              title: title.value,
              text: text.value,
              tag: tag.value,
              file,
              token: csrfToken.value,
            }),
          },
        );

        const body = await response.json();

        if (body.error) {
          showError.value = true;
          errorMessage.value = body.errorMessage;
          return;
        }

        if (body.success) {
          await router.push('forum');
        }
      },
    };
  },
});

</script>

<style lang="scss">
.ask_question form {
  background-color:#F2EFED;
  padding: 2em 2em;
  width: 100%;
  border-radius: 5px;
}
.question-input textarea {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #EBE5E1;
  margin-bottom: 20px;
  margin-top: 20px;
  resize: none;
  width: 100%;
  height: 100px;
}
.ask_question h2 {
  padding: 20px;
}
</style>
