<template>
  <div id="quiz" v-if="quiz">
    <h1 id="heading">{{quiz.title}}</h1>
    <QuestionContainer
      :question="question"
      :position="questionNumber"
      :total="quiz.questions.length"
      @markQuestionAnswered="markQuestionAnswered"
      @registerScore="registerScore"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref, watch,
} from 'vue';
import { useRoute } from 'vue-router';
import formDataGenerator from '@/formDataGenerator';
import router from '@/router';
import QuestionContainer from '../components/quizzes/QuestionContainer.vue';

export default defineComponent({
  name: 'Quiz',
  components: {
    QuestionContainer,
  },
  props: {
    sessionId: String,
    userId: String,
  },
  setup(props) {
    const route = useRoute();
    const quizId = route.params.id;
    const quiz = ref<any>(null);
    const questionNumber = ref<number>(1);
    const question = ref<any>(undefined);

    fetch(`${process.env.VUE_APP_API_URL}/quiz-api/get-quiz.php`, {
      method: 'POST',
      credentials: 'include',
      body: formDataGenerator.generate({
        sessionId: props.sessionId,
        quizId,
      }),
    }).then((response) => response.json())
      .then((content) => {
        if (content.success) {
          quiz.value = content.quiz;
        }
      });

    watch([quiz, questionNumber], ([newValueQuiz, newQuestionNumber]) => {
      question.value = newValueQuiz.questions[newQuestionNumber - 1];
    });

    return {
      quiz,
      question,
      questionNumber,
      markQuestionAnswered: () => {
        questionNumber.value += 1;
      },
      registerScore: async (score: any) => {
        await fetch(`${process.env.VUE_APP_API_URL}/quiz-api/save-answered-quiz.php`, {
          method: 'POST',
          credentials: 'include',
          body: formDataGenerator.generate({
            quizId: quiz.value.id,
            quizScore: (score * 10),
            userId: props.userId,
            sessionId: props.sessionId,
          }),
        });

        await router.push('/my-account');
      },
    };
  },
});
</script>

<style lang="scss">
#quiz {
  min-height: 600px;
}

@media screen and (min-width: 1480px) {
  #quiz {
    min-height: 750px;
  }
  #heading {
    text-align: center;
  }
}
</style>
