
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
	margin: 0;
}

img {
	width: 100%;
}

a{
	text-decoration: none;
}
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.row { display: block; }
.tm-left-right-container { width: 100%; }

.tm-blue-bg {
	background-color: #0c2f39;
	color: white;
}

.tm-blue-text {	color: #0c2f39; }
.tm-blue-bg a {	color: white; }
h1, h2, h3 {
	color: #0c2f39;
	margin-top: 45px;
}

.tm-site-name {
	font-size: 4rem;
	margin-top: 20px;
}

.tm-logo-div {
	padding-left: 25%;
	padding-top: 20%;
}

.tm-main-nav { display: none; }

.tm-main-nav-ul {
	display: inline-block;
	padding-left: 0;
}
  .dropdown-content {
    display: none;
    background-color: #051418;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content > a {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
  }
.dropdown-content > a:hover {
      background-color: #0c2f39;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.tm-section { margin-bottom: 60px; }
.tm-welcome-title {	font-size: 2.4rem; }

p { line-height: 1.5; }

.tm-button {
	background-color: #0c2f39;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;	
	padding: 18px 35px;
}

.tm-button-wide { padding: 18px 40px; }

.tm-button:hover,
.tm-button:active,
.tm-button:focus {
	background-color: #0c2f39;
	color: white;
}

.tm-nav-item:hover a,
.tm-nav-item:active a,
.tm-nav-item:focus a,
.tm-nav-item-link.active {
	font-weight: bold;
}

.tm-copyright-p { margin-bottom: 0; }


/*code*/
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #0c2f39;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

/* Media Queries */
@media (min-width: 576px) {
	.container { width: 100%; }
	.tm-site-name { margin-top: 35px; }
	.tm-welcome-title { font-size: 3rem; }
}

@media (min-width: 992px) {
	.tm-main-nav {
		display: flex;
		justify-content: center;
	}

	.tm-left-column { 
		position: fixed; 
		height: 100%;
	}

	.container { width: 100%; }
	.tm-left-column { width: 30%; }

	.tm-right-column {
		float: right;
		width: 70%;
	}

	.tm-nav-item {
		cursor: pointer;
		font-size: 1.5rem;
		list-style: none;
		padding: 18px 30px;
        transition: all 0.3s ease;
        width: 100%;
	}

	.tm-site-name {
	    font-size: 3.3rem;
	    margin-top: 30px;
	}

	.tm-logo-div {
		padding-left: 25%;
		padding-top: 20%;
	}

	.tm-section { margin-bottom: 100px; }

	.tm-content-div { padding: 80px 40px 30px 80px;	}
	
	.tm-contact-right { margin-top: 0; }
}

@media (min-width: 1200px) {		
	.container { width: 100%; }	
	.tm-contact-right { padding-left: 42px; }
}

@media (min-width: 1500px) {	
	.container { width: 100%; }
	p { margin-bottom: 30px; }
}

@media (min-width: 1800px) {
	.container,
	.tm-left-right-container {
	    width: 100%;
	}

	p { margin-bottom: 36px; }
}

@media (max-height: 860px) {
	.tm-logo-div {
		padding-left: 25%;
		padding-top: 20%;
	}

	.tm-nav-item { font-size: 1.4rem; }

	.tm-site-name {
		font-size: 2.4rem;
		margin-top: 10px;
	}
}
